@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@layer theme, base, components, utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f1f5f9;
}

body {
  font-family: 'Arial', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
